<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/blindTestObjet.js"></script>

    <title>Page 1</title>
</head>
    <body style ="background-color: greenyellow">
        <div id="timer"></div>
        <div id="response"></div>
        <div>
            <p class="p-page1">
                <input type="button" id="playPauseButton" value="Play">
                <input type="button" id="restart" value="Restart">
            </p>
        </div>
        <div id="progressContainer">
            <div id="progressBar"></div>
        </div>
        <div>
            <P class="p-page1" >
                <input type="button" id="nextButton" value="Next">
            </P>
        </div>

        <audio id="alertSound" src="../sound/alert.mp3" preload="auto"></audio>
        <audio id="soundTrack" src="../media/music/soundTrack100.mp3" preload="auto"></audio>
    </body>
</html>